@model IEnumerable<VentasSD.Models.TipoPago>
@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.IdOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credito.IdCredito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoPago">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoPago">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoPago">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
